Repository OpenTechNexus/easy-bill-api: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{html,md,yml}": "prettier --write",
  "*.{ts,js,json}": "eslint --fix"
}

feat: EABAPI-1 added new deps
  package.json
  yarn.lock
Due: eslint --fix

feat: EABAPI-1 added commitlint conf
  commitlint.config.js
Due: eslint --fix

feat: EABAPI-1 added commit-msg hook to husky
  .husky/commit-msg
Due: none

style: EABAPI-1 upd eslint config
  .eslintrc
Due: none

refactor: EABAPI-1 refactor
  .husky/pre-commit
Due: none

refactor: EABAPI-1 refactor
  package.json
  yarn.lock
Due: eslint --fix

refactor: EABAPI-1 added gap
  .gitignore
Due: none

feat: EABAPI-1 upd circle ci conf
  .circleci/config.yml
Due: prettier --write

chore: EABAPI-1 bump ci node version
  .circleci/config.yml
Due: prettier --write

refactor: EABAPI-1 refactor
  jest.config.js
Due: eslint --fix

feat: EABAPI-1 upd commit msg
  .husky/commit-msg
Due: none

refactor: EABAPI-1 refactor
  .eslintrc
  jest.config.js
Due: eslint --fix

refactor: EABAPI-1 moved types to src
  src/types/index.ts
Due: eslint --fix

fix: EABAPI-1 fix commit-msg
  .husky/commit-msg
Due: none

refactor: EABAPI-1 fix naming
  src/controllers/users-controllers.ts
Due: eslint --fix

feat: added LICENSE
  LICENSE
Due: none

feat: EABAPI-9 added new middleware
  src/middleware/check-auth.ts
Due: eslint --fix

feat: EABAPI-9 added types
  index.ts
Due: eslint --fix

feat: EABAPI-9 added types
  src/types/index.ts
Due: eslint --fix

feat: EABAPI-10 added id field to auth endpoint response
  src/controllers/users-controllers.ts
Due: eslint --fix

feat: EABAPI-10 upd types
  src/types/index.ts
Due: eslint --fix

feat: EABAPI-5 added vercel config
  vercel.json
Due: eslint --fix

refactor: EABAPI-5 refactor
  index.ts
  src/controllers/users-controllers.ts
  src/errorHelpers/http-errors.ts
  src/helpers/create-user.ts
  src/helpers/hash-password.ts
  src/middleware/check-auth.ts
  src/models/http-errors.ts
  src/types/index.ts
Due: eslint --fix

refactor: EABAPI-5 refactor
  index.ts
Due: eslint --fix

feat: INT removed vercel conf
  vercel.json
Due: eslint --fix

refactor: INT refactor
  index.ts
Due: eslint --fix

feat: INT upd tsconf
  tsconfig.json
Due: eslint --fix

feat: INT added new deps
  package.json
  yarn.lock
Due: eslint --fix

feat: INT added babel conf
  .babelrc
Due: none

style: INT upd tsconf
  tsconfig.json
Due: eslint --fix

fix: INT fix types
  src/types/index.ts
Due: eslint --fix

refactor: INT refactor
  src/controllers/users-controllers.ts
Due: eslint --fix

refactor: INT refactor
  package.json
  yarn.lock
Due: eslint --fix

fix: INT fix deploy error used common js instead modules
  index.ts
Due: eslint --fix

chore: INT rename default script for fix deploy error
  package.json
Due: eslint --fix

Revert "[INT] Fix API deploy error, used common js instead modules"
  index.ts
Due: eslint --fix

chore: INT rename script command
  package.json
Due: eslint --fix

feat: INT upd ts config
  tsconfig.json
Due: eslint --fix
